* @Occhioverde

studenti/adimaria/ @amerigodot
studenti/rkannankara/ @rubakrenju
studenti/abenthabet/ @Aimanben7
studenti/sgonzato/ @SimoGonzy
studenti/ngbenoba/ @NickolasgGb
studenti/ssilvestrin/ @theSilver32
studenti/mlovato/ @matteolovato-AI
studenti/aelbadii/ @anaselbadii
studenti/mgaspari/ @myriamgaspari
studenti/mcisco/ @MatteoCisco
studenti/emeggiarin/ @emanuele23dev
studenti/dfanton/ @Daghem
studenti/nmiljanic/ @Nemanja3378
studenti/gzampieri/ @gabrielezampi
studenti/aterzi/ @andreaterzi-lambda
studenti/fneresini/ @FilPip97
studenti/acontro/ @AndreaContro
studenti/gvmassignani/ @GioVin-gif
studenti/ipretto/ @isaccopretto
studenti/lmarkovic/ @lukaasrb
studenti/gbodrin/ @ganDSC
studenti/gconi/ @amaninaboat
studenti/ytaki/ @YounessTaki0
